@{
    ViewData["Title"] = "Actions";
}
<a href="/Home/Actions/1">
    <button class="btn-outline-primary">Text</button>
</a>

<a href="/Home/Actions/2">
    <button class="btn-outline-primary">HTML</button>
</a>

<a href="/Home/Actions/3">
    <button class="btn-outline-primary">PDF</button>
</a>

<a href="/Home/Actions/4">
    <button class="btn-outline-primary">Redirect</button>
</a>

<a href="/Home/Actions/5">
    <button class="btn-outline-primary">NotFound</button>
</a>

<button class="btn-outline-primary"> <a href="/">Back</a></button>


