@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/Home/Add" >
         <button  class="btn-outline-primary col-1">Add</button>
    </a>

    <a href="/Home/Actions">
        <button class="btn-outline-primary col-1">Actions</button>
    </a>

    <a href="/Departments">
        <button class="btn-outline-primary col-1">Departments</button>
    </a>

    <a href="/Employees">
        <button class="btn-outline-primary col-1">Employees</button>
    </a>

    
</div>
