<form method="post" action="Test/upload">

    <div class="mb-3">
        <label for="img">Name :</label>
        <input type="text" formenctype="multipart/form-data" name="name" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="img">IMAGE :</label>
        <input type="file" formenctype="multipart/form-data" name="img" class="form-control" />
    </div>


    <input type="submit" value="Update" class="btn btn-primary ms-2" />


</form>
